#status_caches > span {
  float: left;
  line-height: 16px;
}
#status_caches > div {
  margin: 0 0 1px 6em;
  height: 16px;
}
#status_caches > div.extra {
  display: none;
}
#status_caches.expanded > div.extra {
  display: block;
}
#status_caches.expanded > div.expand {
  display: none;
}
#status_caches > div.icon a {
  text-decoration: none;
}
#status_caches > div.icon a span {
  text-decoration: underline;
}
#status_caches > div.expand a {
  margin-left: 19px;
}
#status_caches > div a img {
  border: 0;
  width: 16px;
  height: 16px;
  padding: 0 3px 0 0;
  vertical-align: bottom;
}
#errorAutoRetry1 > span {
  margin-left: 1em;
}
#errorAutoRetry2 {
  height: 12px;
  font-size: 80%;
  opacity: 0.6;
}
#errorAutoRetry3 {
  color: #b00000;
  font-weight: bold;
}
#tryagainList li.auditor a.left {
  float: left;
}
#tryagainList li.auditor div {
  margin-left: 10em;
}

html.tryagain {
  background-color: black;
  background-repeat: repeat;
}
html.tryagain #errorPageContainer {
  margin-top: 2em;
  border: 2px solid black;
  -moz-border-radius: 7px 7px 7px 7px;
  background: url("chrome://tryagain/skin/bg_body70.png") repeat;
}
html.tryagain #errorPageContainer.btm {
  margin-top: 0;
  max-width: 52em;
  border-top: none;
  -moz-border-radius: 0 0 7px 7px;
  padding: 0 36px 3em 36px;
}
/* url("chrome://global/skin/icons/warning-large.png") */
html.tryagain #errorTitle {
  -moz-border-radius: 5px 5px 0 0;
  margin: -3em -3em 0 -3em;
  -moz-margin-start: -30px;
  background: url("chrome://tryagain/skin/bg_title70.png") repeat;
  color: white;
  padding: 2em 2em 2em 3em;
}
html.tryagain #errorTitle #errorTitleIcon {
  margin-left: -36px;
  margin-top: -2em;
  width: 160px;
  height: 160px;
  -moz-border-radius: 7px 7px 7px 7px;
  background: url("chrome://tryagain/skin/warning.png") no-repeat scroll 0 0 transparent;
  position: absolute;
  display: none;
}
html.tryagain #errorTitleIconBox {
  margin-left: 55em;
  margin-top: -278px;
  position: absolute;
}
html.tryagain #errorTitleIcon2 {
  background: url("chrome://tryagain/skin/warning_big.png") no-repeat scroll 46px 34px transparent;
  -moz-border-radius: 7px 7px 7px 7px;
  margin-left: -278px;
  margin-top: 3em;
  width: 248px;
  height: 278px;
}
html.tryagain #errorTitle.top {
  -moz-border-radius: 7px 7px 0 0;
  margin: 2em auto 0 auto;
  max-width: 52em;
  padding: 2em 36px 2em 36px;
  border: 2px solid black;
  border-bottom: none;
}
html.tryagain #errorTitle * {
  -moz-margin-start: 80px;
}
html.tryagain #errorTitle h1 {
  border: none;
}
html.tryagain #errorTitle p {
  font-size: 130%;
  overflow: auto;
  white-space: pre-wrap;
}
html.tryagain #errorLongContent {
  padding-top: 2em;
}
