#content {
  margin: 1em auto !important;
  width: 500px !important;
  border-radius: 10px;
  padding: 2em !important;
}
#content h1 {
  margin: 0 0 0.5em 0;
  border-bottom: 1px solid #CCC;
}
#content .small {
  font-size: 80%;
}
#content .pad {
  margin-bottom: 0.5em;
}
#content hr {
  border: none;
  border-bottom: 1px solid #CCC;
  margin: 0.7em 0;
}
#content label {
  float: left;
  padding-top: 4px;
}
#content div, #content label {
  width: auto;
  margin: auto auto auto 5px;
}
#content #action {
  color: #B00000;
  font-weight: bold;
}
#content #buttons {
  margin: 0.5em auto auto 0;
}
